//Created by alex on 15/10/20.
extends ../../shard/layout-manage
block content
    include ../../includes/pop
    ul.breadcrumb
        li
            i.icon-home
            a(href='/offline') 后台首页
            i.icon-angle-right
        li
            a(href='#') 预约
    .row-fluid.sortable
        .box.span12
            .box-header(data-original-title='')
                h2
                i.halflings-icon.user
                span.break
                | 预约管理
                .box-icon
                    a.btn-setting(href='#')
                        i.halflings-icon.wrench
                    a.btn-minimize(href='#')
                        i.halflings-icon.chevron-up
                    a.btn-close(href='#')
                        i.halflings-icon.remove
            .box-content
                label
                    a.btn.btn-success(href='/offline/reserves/download') 下载
                    | &nbsp;
                table.table.table-striped.table-bordered.bootstrap-datatable.datatable
                    thead
                        tr
                            th 类型
                            th 姓名
                            th 婚期
                            th 手机
                            th 渠道
                            th 意向预约时间
                            th 提交时间
                            th 操作
                    tbody
                        each val,index in data
                            tr
                                th #{val.type}
                                td.center #{val.userName}
                                td.center #{val.wedDate}
                                td.center #{val.phoneNumber}
                                td.center= val.channel&&val.channel!='undefined'?val.channel:'无'
                                td.center #{val.appTime}
                                td.center #{val.create}
                                td.center
                                    //a.btn.btn-success(href='./reserves/detail/#{val._id}')
                                    //    i.halflings-icon.white.zoom-in
                                    //a.btn.btn-info(href='./reserves/edit/#{val._id}')
                                    //    i.halflings-icon.white.edit
                                    a.btn.btn-mini.btn-danger.del(id='#{val._id}')
                                        i.halflings-icon.white.trash
block script
    script(type="text/javascript").
        $(function () {
            $(".del").on("click", function () {
                var id = this.id;
                if (showModal && typeof showModal === 'function') {
                    showModal('删除确认', '是否真的删除该条预约数据？', null, function () {
                        var data = "active=false";
                        $.post("/offline/reserves/del/" + id, data, function (res) {
                            if (res == "ok") {
                                location.href = "/offline/reserves";
                            } else {
                                // $("#errorInfo").show();
                                alert("删除失败，请重试。")
                            }
                        });
                    });
                }
            });
        });
